@model ContactsMVC6.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h4 mt-5>Are you sure you want to delete this?</h4>
<div>
    <p>Be aware it is entirely <strong>irretrievable!</strong><br>Clicking the <span class="btn btn-danger-outline">Delete</span> button on this page <strong>permanently removes</strong> the record from the database!</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Confirm Deletion of:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger rounded-pill btnlinks" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
